# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# virtualenv
.venv

/dist

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# rye lockfiles
/requirements*.lock

/.pytest_cache
/.ruff_cache
