# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# virtualenv
.venv

/dist
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints/
.virtual_documents/
*.ipynb

# rye lockfiles
/requirements*.lock

# extra python version files
.python-version

/.pytest_cache
/.ruff_cache
